.box {
  width: 100px;
  height: 100px;
  margin: 25px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box p {
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 25px;
    border: 1px solid red;
    border-radius: 100px;
}